.DS_Store
vendor
wp
dist
bower_components
node_modules
src/plugins/*
!src/plugins/advanced-custom-fields-pro
!src/plugins/s1t2-*
src/themes/*/style.css
src/themes/*/scripts
src/themes/*/images
.buildpath
.project
.settings/
.env
.swp
.phpcomplete_extended/upgrade
src/upgrade
*.pem
*.ppk
