.DS_Store
vendor
wp
node_modules
src/plugins/*
!src/plugins/__-*
src/themes/*/style.css
src/themes/*/scripts
src/themes/*/images
src/themes/__/dist/
.buildpath
.project
.settings/
.env
.swp
src/upgrade
*.pem
*.ppk
