.DS_Store
vendor
wp
bower_components
node_modules
src/plugins/*
!src/plugins/__-*
src/themes/*/style.css
src/themes/*/scripts
src/themes/*/images
.buildpath
.project
.settings/
.env
.swp
.phpcomplete_extended/upgrade
src/upgrade
*.pem
*.ppk
