<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RedirectMatch 403 ^/vendor/?$
RedirectMatch 403 ^/wp/?$
RedirectMatch 403 ^/.git/?$
</IfModule>

<Files xmlrpc.php>
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</Files>

<Files .env*>
  order allow,deny
  deny from all
</Files>

<Files Makefile>
  order allow,deny
  deny from all
</Files>

<Files README.md>
  order allow,deny
  deny from all
</Files>

<Files composer.*>
  order allow,deny
  deny from all
</Files>

<Files docker-compose.yml>
  order allow,deny
  deny from all
</Files>

<Files wlwmanifest.xml>
  order allow,deny
  deny from all
</Files>

<Files wp-config.php>
  order allow,deny
  deny from all
</Files>

<Files .htaccess>
  order allow,deny
  deny from all
</Files>

<Files .gitignore>
  order allow,deny
  deny from all
</Files>

# BEGIN WordPress

# END WordPress